body {
    margin: 0;
    padding: 0;
}
.header {
    width: 1600px;
    height: 900px;
    background-image: url("./img/Layer\ 21@1X.png")
}
.header-container {
    padding-top: 531px;
    padding-left: 215px;
}
.sertiz {
    font-size: 48px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    text-transform: uppercase;
}
.awsome {
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 28px;
}
.we > span {
    font-size: 54px;
    color: rgba(244, 142, 11, 255);
    text-align: left;
}
.we {
    font-size: 54px;
    color: rgba(255, 255, 255, 255);
    border: 1px solid white;
    height: 129px;
    line-height: 125px;
    padding-left: 30px;
    width: 831px;
    background-color: rgba(0, 0, 0, 0.3)
}
.we {
    text-transform: uppercase;
}
.line1 {
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    border: none;
    margin-top: 50px;
}
.about {
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    margin-top: 72px;
}
.description {
    font-size: 17px;
    text-align: center;
    margin-top: 30px;
}
/*.awards {
    background-image: url(./img/Layer\ 20@11X.png);
    background-repeat: no-repeat;
}*/

.award-img {
    width: 300px;
    margin: 0 auto;
    margin-top: 60px;
}
awards {
    width: 1600px;
}
.nav-list ul li {
    display: inline-block;
    margin-right: 40px;
}
.nav>div {
    display: inline-block;
}
.nav {
    width: 1169px;
    margin: 0 auto;
    margin-top: 90px;
    border-bottom-width: 3px;
    border-bottom-color: #f1ad1d;
    border-bottom-style: solid;
    
}
.nav-list a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #333333;
}
.nav-text {
    text-transform: uppercase;
    font-size: 28px;
    color: #f1ad1d;
    margin-right: 170px;
    margin-left: 100px;
    font-variant: small-caps;
}
.nav-list a:hover {
    color: #f1ad1d;
}
